@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@300&display=swap");
.item-container {
  font-family: "Roboto", sans-serif;
  display: grid;
  background: #f6f6f6;
  grid-template-columns: 20% 77% 3%;
  padding: 0.5em;
  max-height: 8em;
  width: auto;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.item-container:hover {
  cursor: pointer;
}

.item-info-container {
  display: grid;
  grid-template-rows: 40% 35% 25%;
  margin-left: 1em;
  margin-right: 1em;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.shoe-image {
  max-height: inherit;
  border-radius: 50%;
  border: 1px solid #dadada;
  margin: 0 auto;
}
.remove {
  font-size: 2em;
}

.remove:hover {
  cursor: default;
}
